
<div class="headerBar">
  <div class="itemContainer">
    <img class="logoHeaderImage"  src="/public/images/logo.png" alt="Logo"/>
  </div>

  <img class="backBut" onclick="goHomeSeries()" src="/public/images/backbutton.png" alt="Back Button"/>
</div>
