
<link rel="stylesheet" href="/style.css">
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
<script src="script.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="928297954491-9qsvtibvgjeh3ikuqriht7fiuen57l1t.apps.googleusercontent.com">

<title>Flicktionary</title>
