/* The width of the page is set to 100%, there is padding at the
top of the page for 300 pixels*/
.mainBody{
  width: 100% ;
  margin-right:auto;
  margin-left: auto;
  padding-top: 170px;
}

main{
  font-family: Lato;
}

/* The login button is kept to the right hand side of the page,
the background is transparent and the border is set to 0 pixels*/
.loginBut{
  float: right;
  top:0;
  padding-left: 10px;
  border: 0px;
  background: transparent;
  height: 90%;
  width: auto;
}


/* The logo button is kept to the right hand side of the page,
the width of the page is automatically set, the image is kept to
right of page and margins and borders are set at 0 pixels*/
.logoimage{
  height: 30px;
  width: auto;
  float: right;
  margin-left: 0px;
  margin-top: 0px;
  border: 0px;
}

/*maximum width of the logo is 100% and the height and widths of
the logo are automatically set*/
.SiteLogo {
  max-width: 100%;
  height: auto;
  width: auto;

}

/*background colour is set to grey, text is alligned to the centre,
font is set, font size is selected and the weight is also set*/
.bodyFlick{
    background-color: #2f2833;
    text-align: center;
    color: #ed5f25;
    font-family: Lato;
    font-size: xx-large;
    font-weight: bold;
    margin: 0px;
}

.loginLogo{
  padding-top: 5%;
  width: 30%;
  min-width: 400px;
  margin-left: 35%;
  margin-right:35%;
}

.loginBack{
  width: 40px;
  height: 40px;
}


/*the footer is set to black, the text colour is white, the position of the
footer is fixed, the width is set at 100% and the font size is medium*/
.page-footer{
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  margin-bottom: 0px;
  font-size: medium;
}

.headerBar{
  font-size: 20px;
  text-align: left;
  width: 100%;
  background-color: #211d23;
  height: 40px;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: "Century Gothic";
}

.movieButton{
  float: left;
  padding: 7px;
  padding-right: 10px;
  background-color: #211d23;
  cursor: pointer;
  color: #bc4f23;
  width: inherit;
  font-family: Lato;
}

#movieContainer{
  background-color: #ed5f25;
}

.seriesButton{
  float: left;
  padding: 7px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #211d23;
  cursor: pointer;
  color: #bc4f23;
  width: inherit;
}

.genreButton{
  float: left;
  padding: 7px;
  padding-left: 5px;
  padding-right: 10px;
  background-color: #211d23;
  cursor: pointer;
  color: #bc4f23;
  width: inherit;
  border: none;
  height: inherit;
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
}

.genreButton:hover{
  color: #ed5f25;
}

.itemContainer{
  height: inherit;
  width: 75px;
  float: left;
  font-family: Lato;
}



.movieButton:hover{
  color: #ed5f25;
}

.seriesButton:hover{
  color: #ed5f25;
}

/* .itemContainer:hover{
  background-color: #2ee1e8;
} */

.backBut{
  float: right;
  top:0;
  padding-left: 10px;
  border: 0px;
  background: transparent;
  height: 90%;
  width: auto;
}

.backBut:hover{
  filter: brightness(80%);
  cursor:pointer;
}

/* API CSS ----------------------------- */

.headText {
  padding-top: 100px;
  font-size: 200px;
  color: #EA6B00;
  font-family: "Century Gothic";
  text-align: center;
  width: screenWidth;

}
body {
  background-color: gray;
}

a {
  display: none;
}

.imageClick {
  width: 154px;
  height: 231px;
  border-radius: 10px;
  border-color: blue;
  margin: 10px;
}

.imageClick:hover{
  opacity: 0.4;
  border: 5px solid blue;
  border-radius: 5px;
  margin: 5px;
  /* -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    transition: 0.2s linear; */
}

#base{
  text-align: center;
  font-family: "Century Gothic";
}

.item1 {
  width: 100%;
  /* max-width: 80%; */
}

.sideText {
  text-align: left;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: #6A6564;
}

.thumbnailImage {
  margin: 6px;
  background-color: #393534;
  text-align: center;
  padding-top: 4px;
  max-width: 165px;
}

.item2 {
  max-width: 30%;
  width: 30%;
  visibility: hidden;
}

.allMovies {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 0px;
  align-content: flex-start;
}

.large-item {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  height: 0px;
}

.large-item-2 {
  /* width: 40%;
  background-color: #6A6564;
  height: 60%; */
}

.container {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.titleText {
  /* visibility: hidden; */
}

#searchInput{
  max-width: 600px
  width: auto;
  height: 30px;
  font-size: 30px;
  text-align: center;
}

.submitButton{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-family: "Century Gothic";
  background-color: #211d23;
  border: none;
  color: white;
  padding: 4px 14px;
  border: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.submitButton:hover{
  background-color: #bc4f23;
  color: #211d23;
}

.loginText{
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#myBtn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #bc4f23;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  filter: brightness(120%);
}

.lower {
  text-align: center;
}

#loadMore {
  visibility: hidden;
}

.thumbnailImage {
  width: 50%;
}

.sideInfo {
  width: 50%;
}

.gridTile {
  color: #EA6B00;
  padding-left: 10px;
  padding-right: 10px;
}

.centerText{
  text-align: center;
}

.sideText {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.posterImage{
  height: 200px;
  width: auto;
}

.seriesHeads{
  padding-bottom: 5px;
}

#mainImage{
  max-width: 40%;
  min-width: 30%;
  /* float: left; */
  margin: 0px;
  margin-right: 4%;
}

.mediaInfoMovie{
  text-align: left;
  margin: 0px;
  Padding-right: 8%;
  max-width: 50%;
  min-width: 20%;

}



.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f2833;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 40px;
}

.genreSelectButton{
  width: 80%;
  cursor: pointer;
  overflow: hidden;
}

.dropdown-content a {
    color: #ed5f25;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown a:hover {
  filter: brightness(120%);}

.show {display:block;}

#seriesBlockContainer{
  width: 13%;
  font-size: 20px;
  padding-left: 3%;
  margin-right: 2%;
  margin-top: 20px;
  color: white;
}

#blockSeries, #blockEp, #blockInfo{
  overflow: auto;
  overflow-x: hidden;
}




#seriesEpisodeContainer{
  width: 45%;
  font-size: 20px;
  color: white;
  height: 100%;
  margin-bottom: 5%;
  margin-top: 20px;
  max-height: 230px;
}

.moreLittleInfo{
  font-size: 12px;
  color: grey;
}

.episodeDescription{
  font-size: 12px;
  color: white;
  padding-top: 10px;
}

#seriesEpisodeInfoContainer{
  width: 33%;
  bottom: 0;
  margin-left: 1%;
  font-size: 20px;
  color: white;
  padding-top: 20px;
  margin-right: 3px;
  max-height: 230px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}


/* Track */
::-webkit-scrollbar-track {
    background: #888;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 20px;
}

.seriesBlock{
  background-color: #2f2833;
  width: 97%;
  height: 22px;
  font-size: 16px;
  padding-left: 6px;
  margin-top: 4px;
  color: white;
}
.seriesBlock:hover{
  filter: brightness(140%);
  cursor: pointer;
}

.episodeBlock{
  background-color: #2f2833;
  width: 97%;
  height: 22px;
  font-size: 16px;
  padding-left: 6px;
  margin-top: 4px;
  color: white;
}
.episodeBlock:hover{
  filter: brightness(140%);
  cursor: pointer;
}

#seriesEpisodeNumberContainer{
  margin-top: 20px;
  font-size: 16px;
  height: 22px;

}

.mediaContainer{
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 40px;
  background-color: transparent;
  /* position: absolute; */
}

.movieLocation{
  margin-top: 7%;
  margin-left: 4%;
}



#seriesInfoHolder{
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 40%;
  justify-content: flex-start;
  text-align: left;
  margin: 0px;
  font-family: Lato;
  background-color: #201b23;
}

.blurImageContainer{
  overflow: hidden;
   -webkit-box-shadow: inset 0 0 200px #000000;
   -moz-box-shadow: inset 0 0 200px #000000;
   box-shadow: inset 0 0 200px #000000;
}


.seriesBody{
  background-color: #201b23;
  text-align: center;
  color: #ed5f25;
  margin: 0px;
  border: 0px;
}

.blurredImageContainer{
  position: relative;
  border: 0px;
  overflow: hidden;
}

.blurredImageContainerMovie{
  position: relative;
  border: 0px;
  overflow: hidden;
  height: 100%;
  min-width: 500px;
}

#blurredImage{
  width: 100%;
  object-fit: cover;
  filter: blur(20px) brightness(0.7);
    -webkit-filter: blur(20px) brightness(70%);
    -moz-filter: blur(20px) brightness(70%);
    -o-filter: blur(20px) brightness(70%);
    -ms-filter: blur(20px) brightness(70%);

}

#blurredImageMovie{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(15px) brightness(0.7);
    -webkit-filter: blur(15px) brightness(70%);
    -moz-filter: blur(15px) brightness(70%);
    -o-filter: blur(15px) brightness(70%);
    -ms-filter: blur(15px) brightness(70%);
  top: 0px;
}



.backImage{
  position: relative;
}

.seriesContainer{
  position: absolute;
   left: 0px;
   top: 0px;
   background-color: transparent;
   z-index: 1;
}

#mainSeriesImage, #mainSeriesImageBlur{
  min-width: 30%;
  margin: 0px;
}

.mediaInfo{
  min-width: 50%;
  max-width: 60%;
  /* max-width: 60%; */
  text-align: left;
  margin: 0px;
  padding-left: 2%;
  padding-right: 8%;
}



#mainTitle, #mainTitleBlur{
  font-size: 40px;
  font-family: Lato;
  color: white;
}

#seriesInfo, #seriesInfo{
  color: white;
  font-size: 20px;
  font-family: Lato;
}
#mainDesc, #mainDescBlur{
  padding-top: 30px;
  font-size: 15px;
  font-family: Lato;
  color: white;
}



#littleMovieInfo{
  color: lightgrey;
  font-size: 16px;
  font-family: Lato;
}

#largeImage{
  border-radius: 5px;
  margin-left: 10%;
  width: 342px;
  height: 513px;
}

.mediaContainer{
  width: 100%;
}

.imdbLink{
  float: right;
  text-align: left;
  cursor: pointer;
}

#imdbLink:hover{
  color: white;
}

.logoHeaderImage{
  width: 180px;
  height: 30px;
  padding-top: 8px;
  padding-bottom: 6px;
  cursor: pointer;
}

#apiDiv {
    border: dashed 2px #CCC;
    padding: 10px;
    padding-left: 20px;
}

    #apiDiv input, #apiDiv button {
        font-size: 25px;
        color: #000;
    }

    #apiDiv h4 {
        margin: 10px 0;
    }

    #apiDiv .imageDiv {
        text-align: center;
    }

        #apiDiv .imageDiv img {
            display: none;
        }

    #apiDiv #message {
        padding-top: 10px;
    }

        #apiDiv #message .resultDiv {
            background: #FFF;
            display: inline-block;
        }

            #apiDiv #message .resultDiv &gt; p {
                color: #000;
                display: inline-block;
                width: 95%;
                padding: 10px;
                border-bottom: double 2px #CCC;
            }

            #apiDiv #message .resultDiv .result {
                width: 23%;
                height: 300px;
                padding: 6px;
                /* float: left; */
                text-align: center;
                cursor: pointer;
                visibility: hidden;
            }

                #apiDiv #message .resultDiv .result img {
                    width: 75%;
                }

                #apiDiv #message .resultDiv .result p {
                    margin: 0;
                }

                    #apiDiv #message .resultDiv .result p a {
                        color: #808080;
                        text-decoration: none;
                        font-size: 20px;
                        height: 100px;
                    }

                        #apiDiv #message .resultDiv .result p a:hover {
                            text-decoration: underline;
                        }

#myModal {
    color: #000;
}

#reset {
    padding: 5px 10px;
    background: #4CAF50;
    border: none;
    color: #FFF;
    cursor: pointer;
}

    #reset:hover {
        color: #4CAF50;
        background: #FFF;
    }
