<!doctype html>
<html>

<header>
  <% include ../partials/head %>
</header>


<header>
  <% include ../partials/header %>
</header>

<body onload="loadSeries()" class="seriesBody">

<div class="blurredImageContainer">
  <div class="seriesContainer">
    <div class="mediaContainer" id="seriesMediaHeight">
      <div id="mainSeriesImage">Image</div>
      <div class="mediaInfo">
        <div id="mainTitle">Title</div>
        <div id="seriesInfo">Series</div>
        <div id="mainDesc">Description</div>
      </div>
    </div>
  </div>
  <img src="logo.png" id="blurredImage">
</div>

<div id="seriesInfoHolder">
  <div id="seriesBlockContainer"><div class="seriesHeads">Season</div><div id="blockSeries"></div></div>
  <div id="seriesEpisodeContainer"><div class='seriesHeads' id="episodeNums"></div><div id="blockEp"></div></div>
  <div id="seriesEpisodeInfoContainer"><div id="blockInfo"></div></div>
</div>

</body>

</html><!--Closing html tag -->
